@font-face {
    font-family: 'Anton';
    src: url(fonts/Anton-Regular.woff2);
}

h2{
    font-family: 'Anton';
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-VariableFont_opsz,wght.woff2);
}

h3{
    font-family: 'Inter';
    font-weight: 500;
    text-decoration: underline;
}

h4{
    font-family: 'Inter';
    font-weight: 400;
}

p{
    font-family: 'Inter';
}