---
import { Image } from "astro:assets";
const { ArticleImage, ArticleType, ArticleTitle } = Astro.props;
---

<section id="article">
  {ArticleImage && <Image src={ArticleImage} alt="grafitti art by SPYO" />}
  <h3>{ArticleType}</h3>
  <h2>{ArticleTitle}</h2>
</section>

<style>
  /* Article style */
  #article {
    margin: 1em 5em 1em 5em;
  }
  img {
    width: 1400px;
    height: 500px;
    object-fit: cover;
  }
  h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    text-decoration-line: underline;
  }
  h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
  }
</style>
