---
const { ArticleType, ArticleTitle } = Astro.props;
---

<section id="article">
  <img src="" alt="" />
  <p>{ArticleType}</p>
  <h2>{ArticleTitle}</h2>
</section>

<style>
  /* Article style */
</style>
