---
import { Image } from "astro:assets";
const { Link, ArticleType, ArticleTitle, ArticleImage } = Astro.props;
---

<a href={Link}>
  <div id="cardImage">
    {ArticleImage && <Image src={ArticleImage} alt="grafitti art by SPYO" />}
  </div>
  <div id="text">
    <h3>{ArticleType}</h3>
    <h4>{ArticleTitle}</h4>
  </div>
</a>

<style>
  /* Cards style */
  #cardImage {
  }
  a img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  #text {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 300px;
  }
  h3 {
    font-size: 15px;
    margin-top: 0;
  }
  h4 {
    margin-top: 0;
    font-size: 15px;
  }
</style>
