<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/"></a>About</li>
      <li><a href="/"></a>Contact</li>
    </ul>
  </nav>
</header>

<style>
  /* Header style */
</style>
