<header class="header">
  <!--Menu knappen -->

  <!-- Navigationen i burger menuen -->
  <nav id="burgerNav">
    <div id="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>

  <!--Logo i midten -->
  <div class="logo">
    <img src="/crtvtoplogo.png" alt="CRTV ESC" />
  </div>

  <!--Search knappen -->
  <div class="search">
    <span class="icon"></span>
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 5rem;
    background: #fff;
    border-bottom: 1px solid #ddd;
  }

  /* Logo i midten */

  .logo img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 50px;
    cursor: pointer;
  }

  /* Search ikon (lup) */
  .search {
    width: 22px;
    height: 22px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }

  .search .icon::after {
    content: "";
    position: absolute;
    right: -6px;
    bottom: -2px;
    width: 8px;
    height: 2px;
    background: #000;
    transform: rotate(45deg);
  }

  #burger {
    display: block;
    margin: 1em;
    width: 35px;
    height: 20px;
    cursor: pointer;
  }

  .line {
    width: 100%;
    height: 2.5px;
    background-color: #000000;
    margin-bottom: 8px;
  }
</style>
