---
import BigArticle from "./BigArticle.astro";
import narnia from "../assets/narniaskabet.jpg";
---

<section id="hero">
  <BigArticle
    Link="../pages/spyo.astro"
    ArticleImage={narnia}
    ArticleType="UNMISSABLE FREE GEMS"
    ArticleTitle="SPYO WALK"
  />
</section>

<style>
  /* Hero style */
  #hero {
  }

  img {
  }

  #hero h3 {
  }

  #hero h2 {
  }
</style>
