<section id="hero">
  <img src="./assets/1narniaskabet.jpg" alt="et billede af SPYO grafitti" />
  <p>UNMISSABLE FREE GEMS</p>
  <a href="spyo.astro">SPYO WALK</a>
</section>

<style>
  /* Hero style */
</style>
