---
import BigArticle from "./BigArticle.astro";
import proces from "../assets/proces.jpg";
---

<section>
  <BigArticle
    ArticleImage={proces}
    ArticleType="JOIN THE COMMUNITY"
    ArticleTitle="PROCESS AND PROGRESS"
  />
  <p>A COMPLETE GUIDE TO SHOWING YOUR WORK</p>
</section>

<style>
  section {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  p {
    text-align: center;
  }
</style>
