---
import BigArticle from "./BigArticle.astro";
import proces from "../assets/proces.jpg";
---

<section>
  <BigArticle
    ArticleImage={proces}
    ArticleType="JOIN THE COMMUNITY"
    ArticleTitle="PROCESS AND PROGRESS"
  />
  <p>A complete guide to showing your work</p>
</section>

<style></style>
