---
import Card from "./Card.astro";
---

<section>
  <Card
    ArticleType="LOCAL CRTV"
    ArticleTitle="BEING CREATIVE IS A WAY OF LIFE; MEET ALBERTE JENSEN IN HER OWN ENVIRONMENT"
  />
  <Card
    ArticleType="LOCAL CRTV"
    ArticleTitle="FROM CONCEPT TO CREATION: MEET ARNE MEYER ONE OF THE BRILLIANT MINDS WORKING AT CEE CEE CREATIVE"
  />
</section>

<style>
  /* Local CRTV style */
</style>
