---
const { image, title, text } = Astro.props;
---

<section class="section">
  {image && <img src={image} alt={title} class="section-image" />}
  {title && <h2 class="section-title">{title}</h2>}
  {text && <p class="section-text">{text}</p>}
</section>

<style>
  /* Sections */
  .section {
    text-align: center;
    margin: 4rem 0;
  }

  .section img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto 1.5rem auto;
    display: block;
  }

  .section h2 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  .section p {
    color: #444;
    max-width: 650px;
    margin: 0 auto;
  }
</style>
